*{  
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(360deg, #146C94 0%, #AFD3E2 60%);
    height: 100vh; /* 100% de la altura de la ventana */
}

/* ESTILOS PARA LA BARRA DE NAVEGACION */
.navbar {
    background-color: #146C94;
    font-family: "Segoe UI";
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
/* Estilos para el menú hamburguesa */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}
.bar {
    width: 30px;
    height: 3px;
    background-color: #F6F1F1;
    margin: 3px 0;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-item {
    position: relative;
    cursor: pointer;
    color: #F6F1F1;
    padding: 20px;   
}
.nav-item:hover{
    background-color: #19A7CE;
    border-radius: 5px;
}
.img{
    width: 50px;
    height: 50px;
}

/* @media para el menu hamburguesa y la barra de navegacion*/
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }
    .nav-list {
        display: none;
    }
    /* Estilos para mostrar el menú desplegable */
    .nav-list.active {
        display: flex;
        flex-direction: column;
        background-color: #146C94;
        position: absolute;
        top: 60px;
    }
    .nav-list.active .nav-item {
        text-align: left;
        margin-right: 10px;
    }
    .nav-list.active .sub-menu {
        display: none;
        margin-top: 5px;
        border-radius: 5px;
    }
}

/* Codigo del sub-menu */
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #AFD3E2;
    list-style: none;
    width: 220px;
    border-radius: 5px;
}
.sub-menu a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}
.sub-menu a:hover{
    background-color: #146C94;
    color: #F6F1F1;
}
.nav-item:hover .sub-menu {
    display: block;
}
.busqueda {
    display: flex;
    align-items: center;
    color: #F6F1F1;
    cursor: pointer;
}
input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #F6F1F1;
    font-family: "Segoe UI";
    font-size: 15px;
}


/* Media Queries para hacer responsiva la barra de navegacion*/
@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
    .busqueda {
        display: flex;
    }
}

/* Media Queries para hacer responsivo el submenú */
@media (max-width: 768px) {
    .sub-menu {
        position: static;
        display: none;
    }
}


/* ESTILOS DEL CUERPO */
.iconoCerrar{
    float: right;
}
.contenido-1{
    font-family: "Segoe UI";
    color: #146C94;
    font-weight: bold; /* Esto hará que el texto sea negritas */
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}
.linea {
    margin: 15px auto;
    width: 90%; /* Ajusta el ancho según tus necesidades */
    height: 3px; /* Ajusta el grosor de la línea */
    border-radius: 3px;
    background-color: #146C94; /* Cambia el color de la línea */
}

.contenido-2{
    font-family: "Segoe UI";
    color: #F6F1F1;
    text-align: center;
    width: 80%;
    margin: auto;
    margin: 20px auto;
}
.año{
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: bold; /* Esto hará que el texto sea negritas */
    color: #146C94;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.mes{
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: bold; /* Esto hará que el texto sea negritas */
    color: #146C94;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.btn{
    background-color: #AFD3E2;
    color: #146C94;
    border: none;
    padding: 5px 20px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Segoe UI";
    font-size: 15px;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 2px 2px #146C94;
}
.btn:hover{
    background-color: #19A7CE;
    color: #F6F1F1;
}