*{  
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(360deg, #AFD3E2 0%, #F6F1F1 60%);
  
}




/* ESTILOS DEL CUERPO */
.barra {
    background-color: #19A7CE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.titulo {
    font-family: "Segoe UI";
    margin: 5px;
    color: #F6F1F1;
}
.iconos{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.buscar{
    display: flex;
    align-items: center;
}
.buscar svg{
    cursor: pointer;
}

input[type="search"] {
    border: none;
    padding: 5px;
}

/* Agrega estilos para hacer que los íconos sean más pequeños en pantallas pequeñas */
@media (max-width: 768px) {
    .barra{
        justify-content: center;
    }
    .iconos svg {
        width: 30px;
        height: 30px;
    }

    input[type="search"] {
        width: 100%;
    }
}

/* ESTILOS PARA LAS TARJETAS */
.tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.card {
    background-color: #AFD3E2;
    box-shadow: 0 2px 4px #146C94;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
    justify-content: space-around;
    display: flex; 
    align-items: center; 
}
.card:hover {
    transform: scale(1.05);
}
.imgCard{
    float: left;
    width: 100px;
    height: 100px;
}
.text{
    color: #146C94;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: bold; /* Esto hará que el texto sea negritas */
    text-align: center;
}

@media (max-width: 768px) {
    .tarjetas {
        grid-template-columns: repeat(1, 1fr);
    }
}

.flechaIzquierda{
    background-color: #AFD3E2;
    border: none;
    cursor: pointer;
}
.flechaDerecha{
    background-color: #AFD3E2;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}





