*{  
    margin: 0;
    padding: 0;
}
.fondo{
    background: linear-gradient(360deg, #AFD3E2 0%, #F6F1F1 80%);
    overflow: hidden; /* Ocultar scroll */
}
main{
    height: 100vh; /* 100% de la altura de la ventana */
}


/* AQUI EMPIEZAN LOS ESTILOS PARA EL CUERPO */
.citas{
    font-family: "Segoe UI";
    text-align: center;
    color: #146C94;
}

table {
    font-family: "Segoe UI";
    font-size: 15px;
    background-color: #F6F1F1;
    color: #146C94;
    cursor: text;
    margin: 0 auto; /* Centra la tabla horizontalmente */
    width: 90%;
    border-collapse: collapse;
}
th, td {
    border: 2px solid #146C94;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #19A7CE;
    color: #F6F1F1;
}
/* Media Queries para hacer la tabla responsiva */
@media (max-width: 600px) {
    th, td {
        padding: 4px; /* Reduce el espacio entre celdas en pantallas pequeñas */
    }

    th {
        font-size: 12px; /* Reduce el tamaño de fuente de los encabezados */
    }
}

.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
a{
    text-decoration: none;
}
.btn{
    font-family: "Segoe UI";
    font-size: 18px;
    background-color: #AFD3E2;
    color: #146C94;
    box-shadow: 2px 2px 2px #146C94;
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.btn:hover{
    background-color: #19A7CE;
    color: #F6F1F1;
}
.iconoBtn{
    margin-right: 10px;
}

/*AQUI EMPIEZAN LOS ESTILOS PARA EL FOOTER*/
.footer{
    font-family: "Segoe UI";
    font-size: 18px;
    text-align: center;
    color: #146C94;
}
.footer textarea{
    background-color: #F6F1F1;
    width: 90%;
    border-radius: 10px;
    border: 2px solid #146C94;
}



